debug = true

# This is the GPIO set in CraftBeerPi for the gas valve
CBPGasGPIO = 21

# This is the GPIO used by CBPFlameFeedback to actually control the gas valve
FBGasGPIO = 22

# This is the GPIO used for the igniter
FBIgniterGPIO = 23

# This is the GPIO used for the digital flame sensor (IR)
FBFlameSensorGPIO = 24

# This variable is used to determine the behavior of the flame sensor.
# The value should match the state of the digital output signal line
# when flame/IR is detected, i.e. "low" or "high"
# Valid values: "low" or "high" (without quotes)
FBFlameSensorMode = low

# Igniter settings. All times/durations are in milliseconds
igniterPulseDuration = 1000
igniterTimeBetweenPulses = 1000

# Flame sensor settings. All times/durations are in milliseconds
noFlameShutdownTime = 5000
