debug = true

# This is the GPIO set in BrewPi for the gas valve
CBPGasGPIO = 21

# This is the GPIO used by BPFlameFeedback to actually control the gas valve
FBGasGPIO = 22

# This is the GPIO used for the igniter
FBIgniterGPIO = 23

# This is the GPIO used for the digital flame sensor (IR)
FBFlameSensorGPIO = 24

# Igniter settings. All times/durations are in milliseconds
igniterPulseDuration = 1000
igniterTimeBetweenPulses = 1000

# Flame sensor settings. All times/durations are in milliseconds
noFlameShutdownTime = 5000
